# Ignore all .iml files
*.iml

# Ignore Gradle files
.gradle/

# Ignore local.properties files
local.properties
*/local.properties

# Ignore IntelliJ IDEA project files and directories
.idea/
*/.idea/
.idea/caches/
*/.idea/caches/
.idea/libraries/
*/.idea/libraries/
.idea/modules.xml
*/.idea/modules.xml
.idea/workspace.xml
*/.idea/workspace.xml
.idea/navEditor.xml
*/.idea/navEditor.xml
.idea/assetWizardSettings.xml
*/.idea/assetWizardSettings.xml

# Ignore macOS system files
.DS_Store

# Ignore build directories
build/
*/build/

# Ignore captures directories
captures/
*/captures/

# Ignore external native build directories
.externalNativeBuild/
.cxx/